{{#if isShowingRead}}

  <div class="dual-input-read" {{action 'read'}}>
    <div style="float:left;">
      {{es-cape content}}
    </div>
    <span>[edit]</span>
  </div>

{{else}}

  <div class="dual-input-edit">
    {{textarea value=content}}
    <button {{action 'submit'}}>OK</button>
  </div>

{{/if}}
