{{#if isShowingRead}}

  <div class="dual-input-read" {{action 'read'}}>
    <div class="left">
      {{es-cape content}}
    </div>
    {{#if isEmptyContent}}
      <span class="dual-input-placeholder">Add content</span>
    {{/if}}
    <sup>&nbsp;<i class="icon ion-edit"></i></sup>
    
  </div>

{{else}}

  <div class="dual-input-edit">
    {{textarea value=content}}
    <button {{action 'submit'}}>OK</button>
  </div>

{{/if}}
