{{#if isShowingRead}}

  <div class="dual-input-read" {{action 'read'}}>
    {{es-cape content}}
  </div>

{{else}}

  <div class="dual-input-edit">
    {{textarea value=content}}
    <button {{action 'submit'}}>OK</button>
  </div>

{{/if}}
