{{#if readMode}}

  <div class="dual-input-read" {{action 'edit'}}>
    <div class="left">

      {{#if useMarkDown}}
        {{mark-down content}}
      {{else}}
        {{es-cape content}}
      {{/if}}

    </div>
    {{#if isEmptyContent}}
      <span class="dual-input-placeholder">Add content</span>
    {{/if}}
    <sup>&nbsp;<i class="icon ion-edit"></i></sup>
    
  </div>

{{else}}

  <div class="dual-input-edit">
    
    {{#if textAreaRows}}
      {{textarea value=content rows=textAreaRows}}
    {{else}}
      {{textarea value=content}}
    {{/if}}

    <button class="button small" {{action 'submit'}}>OK</button>
    <button class="button small" {{action 'cancel'}}>Cancel</button>
  </div>

{{/if}}
